.underlined {
  position: relative;
  display: inline-block !important;
}

.underlined::before {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 0;
  height: 7px;
  width: 100% !important;
  border: solid 8px $primary;
  border-color: $primary transparent transparent transparent;
  border-radius: 50%;
}
