a {
  text-decoration: none;
}
td {
  vertical-align: middle;
}
body {
  background-color: $body;
}
.bg-gray {
  background-color: $gray-section;
}
.bg-deep-gray {
  background-color: $deep-gray;
}
.cursor-pointer {
  cursor: pointer;
}
