.hover-bg-gray-left:hover {
  background-color: #d3d3d3;
  margin-left: -10px !important;
  padding-left: 10px !important;
}
.hover-bg-gray:hover {
  background-color: #d3d3d3;
  cursor: pointer;
  margin-top: 1px;
}
