/****  floating-Lable style start ****/
.form-item {
  position: relative;
  margin-right: 10px;
}

.form-item-3 {
  width: 33.3333%;
}

.form-input {
  font-size: 14px;
  padding: 7px 15px;
  display: block;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid #757575;
  line-height: 30px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  color: #666;
}

.form-input:focus {
  outline: none;
  border-bottom: 3px solid #000;
}

.form-input:invalid:not(:placeholder-shown) {
  border-bottom: 3px solid #a30000;
}

.form-input:invalid:not(:placeholder-shown) ~ label {
  color: #a30000;
}

.form-input:invalid:not(:placeholder-shown) ~ span {
  color: #a30000;
  display: inline;
}

.form-input:valid:not(:placeholder-shown) {
  border-bottom: 3px solid #02a200;
}

.form-input:valid:not(:placeholder-shown) ~ label {
  color: #02a200;
}

label {
  font-size: 14px;
  color: #666;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 12px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.form-input:focus ~ label {
  top: -6px;
  font-size: 0.85em;
  color: #000;
  background-color: #fff;
  padding: 0 4px;
  letter-spacing: 0.08em;
}

.form-input:not(:placeholder-shown) ~ label {
  top: -6px;
  font-size: 0.85em;
  color: #666;
  background-color: #fff;
  padding: 0 4px;
  letter-spacing: 0.08em;
}

/* animation */
@-webkit-keyframes inputHighlighter {
  from {
    background: #000;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #000;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #000;
  }
  to {
    width: 0;
    background: transparent;
  }
}
